<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #container {
        width: 500px;
        height: 500px;
        border: 1px solid #ccc;
        margin: 0 auto;
        background-color: aqua;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1>Counter</h1>
      <h2>{{count}}</h2>
      <a href="/add"><button type="button">Add2</button> </a>
      <a href="/destroy_session"><button type="button">reset</button> </a>
    </div>
  </body>
</html>
